export DBT_PROFILES_DIR="$PWD/profiles"
export GCP_PROJECT="test-project-446313"
export BQ_DATASET="analytics_dev"
export BQ_LOCATION="EU"
export BQ_SA_EMAIL="dbt-connector@test-project-446313.iam.gserviceaccount.com"
